table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: 10%;
  margin-top: 50px;
  table-layout: fixed;
  
}
.dinersTable {
  table-layout: auto;
}

.TableHeader {
  margin-top: 40px;
  height: 80px;
  margin-bottom: 40px;
}

td,
th {
  padding: 8px;
  text-align: center;
  font-size: 16px;

}

tr {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 16px;
  
}


th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #ab5e2a;
  border-color: #ab5e2a;
}

.ActionButton {
  border-radius: 30px;
  padding: '20px';
  background-color: white;
}

td {
  background-color: white;
}

.Action {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}


#Xclose {
  padding-right: 0%;
}

/* For small screens, show the table as a block element with auto width */
@media only screen and (max-width: 600px) {
  table {
    display: block;
    width: auto;
    margin: 10px;
    margin-top: 50px;
  }
  
  /* Hide table headers on small screens */
  .TableHeader {
    display: none;
  }

  /* Show table rows as block elements */
  tr {
    display: block;
    margin-bottom: 10px;
  }

  /* Show table cells as block elements */
  td, th {
    display: block;
    text-align: left;
    font-size: 16px;
    border: none;
  }

  /* Set background color for table cells */
  td {
    background-color: #fff;
  }

  /* Add padding to table cells */
  td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    padding-right: 10px;
  }

  /* Style the Action button for small screens */
  .ActionButton {
    width: 100%;
    margin-top: 10px;
  }

  /* Style the Action container for small screens */
  .Action {
    flex-direction: column;
    align-items: center;
  }
  td input[type="text"], td input[type="number"] {
    width: 100%;
  }
}
